@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: theme('colors.foreground');
	color: theme('colors.background');
}

[data-theme='dark'] {
	background-color: theme('colors.background');
	color: theme('colors.foreground');
}

[data-theme='light'] {
	background-color: theme('colors.foreground');
	color: theme('colors.background');
}
